*~

/????/??/*.log
/????/??/*.err
/????/??/*.pl.chk
/????/??/??.test
/????/??/*.o
/????/??/aoc-go
/????/??/aoc-zig
/????/??/aoc-lib.zig
/????/??/aoc-cpp
/????/??/aoc-cr
/????/??/aoc-*-rel
/????/??/aoc-nim
/????/??/zig-cache
_Inline
aoc-rust/target
cover.out
/.vscode
snippet[0-9]*.txt
