*~

/????/??/*.txt
!/????/??/TC.txt
/????/??/*.log
/????/??/aoc*.ns
/????/??/*.err
/????/??/*.pl.chk
/????/??/??.test
/????/??/*.o
/????/??/core
/????/??/[0-9][0-9]
/????/??/perf.data
/????/??/perf.data.old
/????/??/flamegraph.svg
/????/??/cpp/input.h
/????/??/*.orig
/????/??/aoc-go
/????/??/main
/????/??/gocpu.out
/????/??/aoc-rs
/????/??/aoc-zig
/????/??/aoc-lib.zig
/????/??/aoc-cpp
/????/??/aoc-cr
/????/??/aoc-d
/????/??/aoc-hs
/????/??/aoc.hi
/lib-hs/*.hi
/lib-hs/*.o
/????/??/aoc-cr
/????/??/aoc-*-rel
/????/??/aoc-nim
/????/??/zig-cache
_Inline
aoc-rust/target
cover.out
/.vscode
snippet[0-9]*.txt
/benchmarks/benchmarks.md
/lib-zig/zig-cache
perf.data
perf.data.old
