*~

/????/??/*.log
/????/??/aoc*.ns
/????/??/*.err
/????/??/*.pl.chk
/????/??/??.test
/????/??/*.o
/????/??/core
/????/??/perf.data
/????/??/perf.data.old
/????/??/flamegraph.svg
/????/??/cpp/input.h
/????/??/*.orig
/????/??/aoc-go
/????/??/gocpu.out
/????/??/aoc-rs
/????/??/aoc-zig
/????/??/aoc-lib.zig
/????/??/aoc-cpp
/????/??/aoc-cr
/????/??/aoc-hs
/????/??/aoc.hi
/????/??/aoc-cr
/????/??/aoc-*-rel
/????/??/aoc-nim
/????/??/zig-cache
_Inline
aoc-rust/target
cover.out
/.vscode
snippet[0-9]*.txt
/benchmarks/benchmarks.md
/lib-zig/zig-cache
